/*ESTILO BODY*/


/* ESTILO LOADING */

.lds-ring .title-loader {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 15px;
    font-weight: 700;
    background: -webkit-linear-gradient(45deg, #3B5998, #DD2A7B, #00ACEE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    z-index: 150;
}

.lds-ring div {
    padding: 0px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 70px;
    height: 70px;
    margin: 8px;
    border: 3px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.3s cubic-bezier(0.5, 1, 0.5, 1) infinite;
    border-color: #3B5998 #DD2A7B #3B5998 #DD2A7B;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
    box-shadow: 0 0px 28px #005082, 0 0px 7px #005082;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
    box-shadow: 0 0px 28px #005082, 0 0px 7px #005082;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
    box-shadow: 0 0px 28px #005082, 0 0px 7px #005082;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader {
    background-color: #fff;
    z-index: 100;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    clip-path: circle(150% at 100% 0);
    transition: clip-path 1s ease-in-out;
}

.loader2 {
    clip-path: circle(0% at 100% 100%);
}


/* FIN ESTILO LOADING */

body main {
    padding: 0;
    margin: 0;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 150px;
}

.__form {
    transition: all 0.3s ease-in-out;
    box-shadow: 0 9px 28px rgba(0, 0, 0, 0.17), 0 10px 7px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
}


/*FIN ESTILO BODY*/


/*ESTILO HEADER*/

body header {
    background-color: black;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
}

body main header #titulo-del-sitio {
    font-family: 'Orbitron', sans-serif;
    font-size: 22px;
    background: -webkit-linear-gradient(45deg, #3B5998, #DD2A7B, #00ACEE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
}

body main header #titulo-del-sitio:hover {
    background: -webkit-linear-gradient(45deg, #284e9e, #e21a74, #0093ce);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.__container .__navbar .__navbar-nav li a {
    padding: 3px;
    color: black!important;
    text-decoration: none;
    font-size: 18px;
    font-family: 'BenchNine', sans-serif!important;
}

.__container .__navbar .__navbar-nav {
    transition: all 0.3s ease-in-out;
}

.__container .__navbar .__navbar-nav li a:hover {
    transition: all 0.3s ease-in-out;
    box-shadow: 0 9px 28px rgba(255, 255, 255, 0.17), 0 10px 7px rgba(255, 255, 255, 0.09);
}

.__container .__navbar .__navbar-toggler {
    outline: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.__container .__navbar .__navbar-toggler .navbar-toggler-icon {
    color: blanchedalmond;
    height: 30px;
    width: 30px;
}

.__container .__navbar {
    background-color: #fff!important;
    ;
}


/*MENU BOTÓN*/

.__body,
.__nav,
.__menu {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.__nav {
    background-color: #fff;
    position: relative;
    padding: 0;
    transition: 600ms;
    overflow: hidden;
}

.__nav .__menu {
    padding: 20px;
    background-color: #fff;
    height: 60px;
    margin: 0;
    padding: 0;
    width: 0;
    overflow: hidden;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.__nav input:checked~.__menu {
    background-color: #fff;
    width: 500px;
}

.__nav .__menu li a {
    font-family: 'BenchNine', sans-serif;
    font-size: 18px;
    text-decoration: none;
}

.__nav .__menu li a:hover,
.__nav .__menu li h4:hover {
    color: #000!important;
    font-weight: 500;
    /* box-shadow: 0 9px 28px rgba(255, 255, 255, 0.17), 0 10px 7px rgba(255, 255, 255, 0.09); */
}

.__nav input {
    width: 55px;
    height: 55px;
    cursor: pointer;
    opacity: 0;
}

.__nav span {
    position: absolute;
    left: 30px;
    width: 25px;
    height: 4px;
    border-radius: 50px;
    background-color: #000;
    pointer-events: none;
    transition: 0.5s;
}

.__nav input:checked~span {
    background-color: #f974a1;
}

.__nav span:nth-child(2) {
    transform: translateY(-6px);
}

.__nav input:checked~span:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
}

.__nav span:nth-child(3) {
    transform: translateY(6px);
}

.__nav input:checked~span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
}

.__nav span:nth-child(4) {
    transform: translateY();
}

.__nav input:checked~span:nth-child(4) {
    transform: translateY(0) rotate(45deg);
}


/*FIN MENU BOTÓN*/


/*FIN ESTILO HEADER*/


/*ESTILO DEL FOOTER*/

.site-footer {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 18px;
    bottom: 0;
    color: #737373;
    box-sizing: border-box;
}

.site-footer hr {
    padding: 0;
    margin: o auto;
    border-top-color: #bbb;
    opacity: 0.5
}

p .copyright-text {
    margin: 0 auto;
    text-align: center;
    width: 100px;
}

.site-footer .texto p {
    text-align: center;
}

.site-footer .texto #contactos {
    margin: 0 auto;
    text-align: center;
    padding: 0;
}

.site-footer .texto p a {
    text-decoration: none;
    color: #005082;
    padding: 5px;
}

.site-footer .__creado-por {
    text-decoration: none;
    padding-left: 4px!important;
}

.site-footer .texto nav ul li:hover {
    color: beige!important;
}


/*FIN ESTILLO FOOTER*/


/*ESTILO SUBIR IMAGENES*/

body main #contenido #subirImagenes form {
    width: 600px;
}

body main #contenido #subirImagenes {
    background-color: white;
}


/*FIN ESTILO SUBIR IMÁGENES*/


/* Por debajo de 700px */

@media screen and (max-width: 700px) {
    body main header #titulo-del-sitio,
    body main header .__div-h1 {
        display: block;
        font-size: 22px;
        margin-top: 10px;
    }
    .__container {
        border-bottom: 1px solid #000;
    }
}


/* Por debajo de 400px */

@media screen and (max-width: 400px) {
    body main header #titulo-del-sitio,
    body main header .__div-h1 {
        font-size: 22px;
        display: block;
        margin-top: 10px;
    }
}