.carousel-indicators .__li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.__cabecera {
    background-color: #0056b3;
    width: 100%;
    max-width: 400px;
    border-radius: 10px 10px 0 0;
    font-family: 'BenchNine', sans-serif;
}

.__cabecera .__alias {
    font-size: 24px;
}

.__cabecera .__name,
.__cabecera .__surname {
    font-size: 20px;
}

.__cabecera .__updated_at {
    font-size: 16px;
    position: absolute;
    bottom: 0;
    right: 3px;
}

.carousel-inner {
    z-index: 5px;
    border-radius: 0 0 10px 10px;
}

.carousel {
    box-shadow: 0 9px 28px rgba(0, 0, 0, 0.17), 0 10px 7px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
}

.carousel-item {
    transition: .3s;
}

.img {
    z-index: 10;
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 400px;
    box-shadow: 0 9px 28px rgba(0, 0, 0, 0.17), 0 10px 7px rgba(0, 0, 0, 0.09);
    border-radius: 0 0 10px 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    padding-bottom: 5px;
    background-color: #0056b3;
    text-align: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-image: none;
    font-weight: 700;
    position: absolute;
    bottom: 10px;
}

.carousel-control-next-icon:after {
    content: '>';
    font-size: 18px;
    color: white;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 18px;
    color: white;
}

html {
    box-sizing: border-box;
}

html,
body main {
    overflow-y: auto;
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/**
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    contenteditable attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that are clearfixed.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */

.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}


/**
   * For IE 6/7 only
   * Include this rule to trigger hasLayout and contain floats.
   */

.cf {
    *zoom: 1;
}

.scroll {
    height: 600px;
    overflow: scroll;
    overflow-x: hidden;
    background-color: #fff;
    padding: 0px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
}

.content {
    padding: 0px;
}

.sidebar {
    z-index: 10;
}

.content,
.sidebar {
    float: center;
}


/* The sticky */

.sidebar {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

@media screen and (max-width: 700px) {
    .__cabecera .__alias {
        font-size: 22px;
    }
    .__cabecera .__name,
    .__cabecera .__surname {
        font-size: 18px;
    }
    .__cabecera .__updated_at {
        font-size: 14px;
    }
}


/* Por debajo de 400px */

@media screen and (max-width: 400px) {
    .__cabecera .__alias {
        font-size: 20px;
    }
    .__cabecera .__name,
    .__cabecera .__surname {
        font-size: 16px;
    }
    .__cabecera .__updated_at {
        font-size: 12px;
    }
}