h2 {
    font-size: 16px;
    background: -webkit-linear-gradient(45deg, #3B5998, #DD2A7B, #00ACEE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.face {
    margin-top: 0;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    transition: all 300ms ease;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.front {
    z-index: 2;
    transform: translateY(50px);
    position: relative;
    border-radius: 10px;
}

.front-img {
    width: 100%;
    height: 200px;
    box-shadow: 0px 10px 20px -2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    border-radius: 10px;
}

.front::before {
    margin: auto;
    padding: auto;
    content: '';
    transition: all 300ms;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #3B5998, #DD2A7B, #00ACEE);
    background-size: 300%;
    opacity: .6;
    border-radius: 10px;
}

.back {
    position: relative;
    background-color: white;
    transform: translateY(-150px);
    z-index: 1;
    height: 200px;
    border-radius: 10px;
}

.back-info {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, calc(-50% - 20px));
    padding: 20px;
}

.back-info h2 {
    text-align: center;
    margin-bottom: 20px;
}

.back-info h4 {
    font-size: 14px;
    text-align: center;
}

.back-bottom {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: white;
    display: flex;
}

.back-bottom span {
    flex: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: opacity 300ms;
    opacity: 0;
    cursor: pointer;
}

.back-bottom span:nth-child(1) {
    transition-delay: 100ms;
    background-color: #3B5998;
    border-bottom-left-radius: 10px;
}

.back-bottom span:nth-child(2) {
    transition-delay: 200ms;
    background-color: #00ACEE;
}

.back-bottom span:nth-child(3) {
    transition-delay: 300ms;
    background-color: #DD2A7B;
    border-bottom-right-radius: 10px;
}

.user-card {
    padding: 0;
    z-index: 4;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 10px;
}

.user-card:hover .front {
    transform: translateY(0px);
}

.user-card:hover .front::before {
    opacity: 0;
}

.user-card:hover .back {
    transform: translateY(0px);
}

.user-card:hover .back-bottom span {
    opacity: 1;
}


/* apply a natural box layout model to all elements, but allowing components to change */

html {
    box-sizing: border-box;
}

html,
body main {
    overflow-y: auto;
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/**
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    contenteditable attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that are clearfixed.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */

.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}


/**
   * For IE 6/7 only
   * Include this rule to trigger hasLayout and contain floats.
   */

.cf {
    *zoom: 1;
}

.scroll {
    height: 600px;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;
    padding: 0px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.content {
    padding: 0px;
}

.sidebar {
    margin-top: 10px;
    width: 100%;
    height: 250px;
    z-index: 10;
    background-color: white;
}

.content,
.sidebar {
    float: left;
}


/* The sticky */

.sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}


/**/