.field,
.field-user {
    position: relative;
}

.field-item,
.field-item-user {
    margin-top: 20px;
    z-index: 1;
    border: 1px solid #8b8b8b;
    background-color: transparent;
}

.field-label,
.field-label-user {
    position: absolute;
    top: 15px;
    left: 5px;
    padding: 0px;
    z-index: -1;
    color: #8b8b8b;
    transition: all 300ms;
    background-color: white;
}

.field-icon,
.field-icon-user {
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 3.5px;
    cursor: pointer;
    color: #005cbf;
    transition: color 300ms;
}

.field-icon:hover,
.field-icon:hover {
    color: black;
}

.field-toTop {
    border-radius: 20px;
    width: 105px;
    height: 24px;
    z-index: 1;
    top: -18px;
    left: 14px;
    padding: 0;
    color: black;
}

.field-toTop-user {
    border-radius: 20px;
    width: 70px;
    height: 24px;
    z-index: 1;
    top: -18px;
    left: 14px;
    padding: 0;
    color: black;
}